*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: auto;
}

footer{
    font-family: 'Roboto', sans-serif;
}

footer section{
    text-align: center;
    margin: 50px;
}

footer section i{
    color: var(--celeste);
    font-size: 40px;
    font-weight: bold;
}

.banner{
    padding: 0%;
    margin: 0px;
}

@media(min-width:1024px){
    footer{
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        justify-content: center;
    }
    #copyright{
        width: 100%;   
        padding-bottom: 20px;
    }
    footer section{
        width: 25%;
    }
}