<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6157b502e6.js" crossorigin="anonymous"></script>
  <title>Mi primer doc HTML </title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href = "/css/styleHeader.css">
  <link rel="stylesheet" href="/css/styleHome.css">
  <link rel="stylesheet" href="/css/styleFooter.css">
</head>
<body>
  <header class = "main-header">

    <div class = "superior-header">
      <a href="/"><img src="/img/logo-mercado-liebre.svg" class ="logo" title = "logo"> </a>
 
      <div class="buscador"> 
        <input id = "campoDeBusqueda"type= "search" name = "buscador" placeholder="Buscar producto marca">
        <input type="submit" value="Buscar">
      </div>
      
      <h2 class="texto"> 
        <i class="fa-solid fa-dollar-sign"></i>
        Compra en cuotas o en credito
      </h2>

     
    </div>

    <div clas = "inferor-head"> 
      <nav class="nav"> 
          <ul id = "barraDeNavegacion"> 
            <li> <a href="#">oferta</a> </li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
          </ul>
       
          <ul id = "opcionesDeCuenta">
            <li> <a href="./register">Crea tu cuenta</a> <i class="fa-solid fa-user"></i> </li>
            <li> <a href="./login">Ingresá</a><i class="fa-solid fa-user-pen"></i> </li>
            <li> <a href="#">Mis Compras</a><i class="fa-solid fa-cart-shopping"></i></li>
          </ul>
      </nav>
    </div>

    <a href="#" class="botton-header"><i class="fa-solid fa-bars"></i></a>
    
  </header>
  <img src="/img/img-home-banner.jpg" class = "banner">

  <main id = "productos" >

   <h3>Basado en tu ultima visita</h3>   
    <section id = "ultimasVistas">
      
      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

    </section>
    <h3>ofertas </h3> 
    <section id = "ofertas">
      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 
      
      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 

      <article class="produto">
        <img src = "/img/img-cafetera-moulinex.jpg" title = "producto">
        
        <div class="preciolinea">
          <p class="precio"> $6.700</p>
          <p class = "oferta"> 40% off </p>
        </div>
        
        <div class = precioProducto>
          <a href="#" class="botton-truck"> <i class="fa-solid fa-truck"></i></a> 
          <b class="nombreDelProducto"> Cafetera Moulinex </b>
          <p class="descripcionProducto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ut, cumque nesciunt blanditiis vero atque! Modi, nihil maxime cum eveniet praesentium odio, neque nemo quasi veritatis voluptates dignissimos aperiam dolores!</p>
        </div>
      </article> 
    </section>
    
  </main>

  <footer>
    <section>
      <i class="fa-solid fa-credit-card"></i>
      <h4> Envío gratis desde $ 2.500</h4>
      <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
      <i class="fa-solid fa-gift"></i>
      <h4> Envío gratis desde $ 2.500 </h4>
      <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
      <i class="fa-solid fa-user-lock"></i>
      <h4> Seguridad, de principio a fin </h4>
      <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
    </section>

    <strong id = "copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </strong>

  </footer>

</body>
</html>